body {
  background-color: var(--dark);
  color: #fff;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-dialog {
  color: var(--dark)
}

.hidden {
  display: none;
}

.form-control {
  background-color: var(--gray);
  color: #fff;
  border: none;
}

.form-control:focus {
  background-color: var(--gray);
  color: #fff;
}

.page-link {
  background-color: #474b51;
  color: #fff;
  border: none;
}

.page-item.disabled .page-link {
  background-color: #606873;
  color: gray;
  border: none;
}

.table-dark td, .table-dark th, .table-dark thead th {
  border: none;
}

::placeholder {
  color: #9b9b9b !important;
}